
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCategoriesLabel" data-translate="blogApp.categories.home.createOrEditLabel">Create or edit a Categories</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.categories.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.categories.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blogApp.categories.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.categories.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAvatar($file, vm.categories)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="blogApp.categories.avatar" for="field_avatar">Avatar</label>
            <div>
                <img data-ng-src="{{'data:' + vm.categories.avatarContentType + ';base64,' + vm.categories.avatar}}" style="max-height: 100px;" ng-if="vm.categories.avatar" alt="categories image"/>
                <div ng-if="vm.categories.avatar" class="help-block clearfix">
                    <span class="pull-left">{{vm.categories.avatarContentType}}, {{vm.byteSize(vm.categories.avatar)}}</span>
                    <button type="button" ng-click="vm.categories.avatar=null;vm.categories.avatarContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAvatar($file, vm.categories)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="avatar" id="field_avatar"
                    ng-model="vm.categories.avatar"
                    />
            <input type="hidden" class="form-control" name="avatarContentType" id="field_avatarContentType"
                    ng-model="vm.categories.avatarContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
